<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="AdoNet" value="https://pkgs.dev.azure.com/marcoshidalgonunes/AdoNet/_packaging/AdoNet/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <AdoNet>
      <add key="Username" value="marcoshidalgonunes" />
	  <add key="ClearTextPassword" value="3myXY0KSDnTZ2VuTXtvhACxCAkA5FyH7ZYLRcV0rPldy7Th2H43FJQQJ99ALACAAAAAAAAAAAAASAZDOm5oH" />
    </AdoNet>
  </packageSourceCredentials>  
</configuration>